<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718924958341-5e9cfvabi88lh33vfto9popemkrkca9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718924958341-5e9cfvabi88lh33vfto9popemkrkca9i</string>
	<key>API_KEY</key>
	<string>AIzaSyAit2vYqEuvudf5X40CvgMwJorcTW9GtA4</string>
	<key>GCM_SENDER_ID</key>
	<string>718924958341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.impruvi.impruvimobileassets</string>
	<key>PROJECT_ID</key>
	<string>impruvi-abf0f</string>
	<key>STORAGE_BUCKET</key>
	<string>impruvi-abf0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718924958341:ios:4e01ab8ace9a92ed3ff7ec</string>
</dict>
</plist>